{%from 'bootstrap/form.html' import render_form%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bootstrap 实例 - 默认的媒体对象</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{{ url_for('blog.index') }}">首页</a>
				</div>

                {% if current_user.is_authenticated %}
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									 <a href="{{ url_for('auth.index',id=current_user.id) }}">主页</a>
								</li>
								<li>
									 <a href="{{ url_for('blog.logout') }}">登出</a>
								</li>
								<li>
									 <a href="{{ url_for('auth.upload_video',id=current_user.id) }}">投稿视频</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
                {% endif %}

			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column">
				</div>
				<div class="col-md-6 column">
					<h3>
						{{ video.title }}
					</h3>
				</div>
				<div class="col-md-4 column">
					<h2>
						up: {{ video.admin.username }}
					</h2>
					<p>
						{{ video.admin.recomment }}
					</p>
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2 column"></div>
				<div class="col-md-6 column">
			<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
                    <div >
            <video controls width="800" height="500">
                <source src="{{ url_for('admin.get_avatar',filename=video.videoname) }}"/><br/>
            </video>
                    </div>
				</div>
			</div>
		</div>
				<div class="col-md-4 column">
				</div>
			</div>
			<div class="row clearfix">
				<div class="col-md-2 column">
				</div>
				<div class="col-md-6 column">
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>评论</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>
				</div>
				<div class="col-md-4 column">
				</div>
			</div>
		</div>
	</div>
        {% if video.comments %}
        {% for comment in video.comments %}
<div class="row clearfix">
		<div class="col-md-6 column">
            <div class="row clearfix">
				<div class="col-md-2 column">
				</div>
				<div class="col-md-6 column">
                    <h1>{{ comment.admin.username }}</h1>
                    <p>{{ comment.body }}</p>
				</div>
				<div class="col-md-4 column">
                    <a href="{{ url_for('blog.replied',id=comment.id) }}">回复</a>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
		</div>
	</div>
        {% if comment.replies %}
            {% for replies in comment.replies %}
            <div class="row clearfix">
				<div>
                    @{{ replies.replied.admin.username }}
				</div>
				<div>
                    <h1>{{ replies.admin.username }}</h1>
                    <p>{{ replies.body }}</p>
				</div>
			</div>
            {% endfor %}
        {% endif %}
            {% endfor %}
    {% endif %}
</div>

</body>
</html>