<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>creategroup</title>
    <link rel="stylesheet" href="../static/creategroup/creategroup_css.css">
</head>
<body>
<div id="menu_block">
    <img id="img1" src="/static/imgs/img1.png" height="65" width="62"/>
    <img id="img19" src="/static/imgs/img19.jpg" height="35" width="35"/>
    <img id="img4" src="/static/imgs/img4.png" height="50" width="30"/>
    <img id="img3" src="/static/imgs/img3.png" height="30" width="30"/>
    <img id="img2" src="/static/imgs/img2.png" height="30" width="40"/>
</div>
<div id="top">
    <h1>Create group</h1>
    <input  placeholder="Search for messages or users...">
    <span>
        <img id="img17" src="/static/imgs/img17.jpg" height="34" width="28"/>
    </span>
</div>
<div id="sign_in" >
    <form class="sign_in" action="{{ url_for('auth.create') }}" method="post" name="">
        <div id="photo">
            <div id="img18">
                <img src="/static/imgs/img18.png" height="72" width="86"/>
            </div>
            <span class="photo1">You can upload jpg,gif or png files.</span><br>
            <span class="photo2">
            Max files size 3mb.</span>
        </div>
        <div class="input">
            <span>Name:</span>
            <input type="text" placeholder="Group Name" name="roomname">
        </div>
        <div class="input">
            <span>roompassword:</span>
            <input type="text" placeholder="Group Password" name="roompassword">
        </div>
        <div class="input">
            <span>Description:</span>
            <input type="text" placeholder="Group Description" name="description">
        </div>
        <div id="btn_sign">
            <button id="btn_sign_in">Create group</button>
        </div>
    </form>
</div>

</body>
</html>