<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>profile</title>
    <link rel="stylesheet" href="/static/profile/profile_css.css">
</head>
<body>
<div id="menu_block">
    <div id="menu">
        <img id="img1" src="/static/imgs/img1.png" height="65" width="62"/>
        <img id="img19" src="/static/imgs/img19.jpg" height="35" width="35"/>
        <img id="img4" src="/static/imgs/img4.png" height="50" width="30"/>
        <img id="img3" src="/static/imgs/img3.png" height="30" width="30"/>
        <img id="img2" src="/static/imgs/img2.png" height="30" width="40"/>
    </div>
</div>
<div id="profile">
    <h1>Profile</h1>
    <form action="{{ url_for('auth.search') }}" method="post">
    <input placeholder="   Search for messages or users..."  name="room_url">
    <button id="btn">search</button>
    </form>>
    <img id="img17" src="../static/imgs/img17.jpg" height="38" width="34"/>
    <div id="photo_name">
        <div id="photo"></div>
        <div id="name"></div>
    </div>
    <div id="info">
        <div class="info"><a href="{{ url_for('auth.create') }}">创建房间</a></div>
        <div class="info">country</div>
        <div class="info">country</div>
        <div class="info">country</div>
    </div>
</div>
<div id="settings">
    <div id="settings_block">
        <div id="settings_top">
            <h2>Settings</h2>
            <p>Update your profile details</p>
        </div>
    </div>
    <div id="form">
        <form id="change" action="{{ url_for('auth.update') }}" method="post">
            <div id="account_block">
                <div id="account">
                    <img id="img20" src="/static/picture/{{ current_user.photo }}" height="35" width="41"/>
                    <h2>{{ current_user.username }}</h2>
                    <p>Update your profile details</p>
                </div>
            </div>
            <span>Avatar</span>
            <div id="icon">
                <div id="img18">
                    <img src="/static/imgs/img18.png" height="45" width="53"/>
                </div>
                <span class="photo1">You can upload jpg,gif or png files.</span><br>
                <span class="photo2">Max files size 3mb.</span>
            </div>
            <span>Name</span><br>
            <input class="name" placeholder="Type your name" type="text" name="username"><br>
            <span>Phone</span><br>
            <input id="phone" placeholder="(123)456-7890" type="tel" name="telephone"><br>
            <span>Email</span><br>
            <input id="email" placeholder="you@yoursite.com" type="email" name="email"><br>
            <button>Save Preferences</button>
        </form>
    </div>
</div>

</body>
</html>