<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>一个简陋的网站</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-static-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{{ url_for('blog.index') }}">首页</a>
				</div>

				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="active">
							 <a href="#">Link</a>
						</li>
						<li>
							 <a href="#">Link</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">Submit</button>
					</form>
				</div>

			</nav>
			<div class="jumbotron">
				<h1>
					Hello, 尊敬的VVIP管理会员!
				</h1>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
                    <button type="button" class="btn btn-block active btn-default btn-info"><a href="{{ url_for('admin.video1') }}"</a>查看视频</button>
				</div>
				<div class="col-md-6 column">
					 <button type="button" class="btn btn-default active btn-block btn-info"><a href="{{ url_for('admin.video2') }}"</a>管理视频</button>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					 <button type="button" class="btn btn-default btn-block active btn-info"><a href="{{ url_for('admin.category') }}"</a>管理分类</button>
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					 <button type="button" class="btn btn-default btn-block active btn-info"><a href="{{ url_for('admin.usermanage') }}"</a>管理用户</button>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>