{%from 'bootstrap/form.html' import render_form%}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>一个简陋的网站</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="{{ url_for('admin.index') }}">Brand</a>
				</div>
			</nav>
            <div class="container h-100">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{ message }}
    </div>
    {% endfor %}
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>注销用户</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>
		</div>
	</div>
    {% if users %}
	<div class="row clearfix">
        {% for admin in users %}
		<div class="col-md-4 column">
			<h2>
                用户：{{ admin.username }}
			</h2>
			<p>
				说说：{{ admin.recomment }}
			</p>
			<p>
				 <a class="btn" >创建时间：{{ admin.timestamp }}</a>
			</p>
		</div>
        {% endfor %}
	</div>
    {% endif %}
</div>


</body>
</html>