{% extends 'base.html' %}

{% block style %}
.judge h3{
  width: 100%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration:none;
}
.like {
    width: 100%;
  background-color: #ADD8E6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align:center;
    }
{% endblock style %}
{% block content %}
	    <div>
		    <div><h3 class="like">休闲</h3></div>
        {% if video %}
        {% for b in video %}
            {% if b.videoname=='休闲' %}
                <div style="display: inline-block">
                <div>
                    <video width="320" height="240" controls poster>
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/mp4">
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/ogg">
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/webm">
                    </video>
                </div>
                <div>
                    <a style="text-decoration:none" href="{{ url_for('uservideo',video_id=b.id) }}">{{ b.title }}</a>
                </div>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
	    <div>
	        <div ><h3 class="like">鬼畜</h3></div>
        {% if video %}
        {% for b in video %}
            {% if b.videoname=='鬼畜' %}
                <div style="display: inline-block">
                <div>
                    <video width="320" height="240" controls poster>
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/mp4">
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/ogg">
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/webm">
                    </video>
                </div>
                <div>
                    <a style="text-decoration:none" href="{{ url_for('uservideo',video_id=b.id) }}">{{ b.title }}</a>
                </div>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
	    <div>
            <div ><h3 class="like">热血</h3></div>
        {% if video %}
        {% for b in video %}
            {% if b.videoname=='热血' %}
                <div style="display: inline-block">
                <div>
                    <video width="320" height="240" controls poster>
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/mp4">
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/ogg">
                        <source src="{{ url_for('get_file',filename=b.video) }}" type="video/webm">
                    </video>
                </div>
                <div>
                    <a style="text-decoration:none" href="{{ url_for('uservideo',video_id=b.id) }}">{{ b.title }}</a>
                </div>
                </div>
            {% endif %}
        {% endfor %}
        {% endif %}
	    </div>
{% endblock content %}