<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"> 
	<title>一个简陋的网站</title>
	<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">  
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style type="text/css">
        #v1{
            width:300px;
            height:225px;
        }
    </style>
<body>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-2 column">
					<img  src="{{ url_for('blog.get_avatar',filename=admin.avatar_l) }}" class="img-thumbnail" />
				</div>
				<div class="col-md-6 column">
					<h3 class="text-center">
						{{ admin.username }}
					</h3>
					<p>
						 {{ admin.recomment }}
					</p>
				</div>
                {% if current_user.is_authenticated %}
				<div class="col-md-4 column">
                    <button type="button" class="btn btn-xs btn-block"><a href="{{ url_for('blog.index') }}">回到首页</a></button><button type="button" class="btn btn-block btn-xs"><a href="{{ url_for('auth.update_data',id=current_user.id) }}">修改资料</a></button> <button type="button" class="btn btn-xs btn-block"><a href="{{ url_for('auth.upload_photo',id=current_user.id) }}">上传头像</a></button> <button type="button" class="btn btn-xs btn-block"><a href="{{ url_for('auth.upload_video',id=current_user.id) }}">投稿视频</a></button>
				</div>
                {% endif %}
			</div>
		</div>
	</div>
    <div class="tabbable" id="tabs-8865">
	<ul class="nav nav-tabs">
		<li>
			<a href="#panel-925338" data-toggle="tab">我的视频 {{ admin.video|length }}</a>
		</li>
		<li class="active">
			<a href="#panel-740843" data-toggle="tab">我的收藏 </a>
		</li>
	</ul>
<div class="tab-content">
	<div class="tab-pane" id="panel-925338">
        {% if admin.video %}
        {% for video in admin.video %}
		<div class="col-md-4 column">
			<h2>
				标题：{{ video.title }}
			</h2>
			<div id="divVideo">
            <video controls id="v1">
                <source src="{{ url_for('admin.get_avatar',filename=video.videoname) }}"/><br/>
            </video>
            </div>
			<p>
				 <a class="btn" href="{{ url_for('auth.index',id=video.admin_id) }}">UP: {{ video.admin.username }}</a>
                <a class="btn" >分类：{{ video.category.name }}</a>
			</p>
			<p>
				 <a class="btn" >发布时间：{{ video.timestamp }}</a>
			</p>
		</div>
        {% endfor %}
            {% else %}
                    <div class="jumbotron">
				<h1>
					无视频
				</h1>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>
				<p>
					 <a class="btn btn-primary btn-large" href="{{url_for('blog.index')}}">Learn more</a>
				</p>
			</div>
    {% endif %}
			</div>
			<div class="tab-pane active" id="panel-740843">
			<p>
				还没弄!
			</p>
		</div>
	</div>
</div>
</div>
	
</body>
</html>