{%from 'bootstrap/form.html' import render_form%}
<!DOCTYPE html>
<html>
<head>
  <title>一个简陋的网站</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
  <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="{{ url_for('blog.index') }}">首页</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">排行榜</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('blog.adminlogin') }}">管理员</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">分类</a>
    </li>
  </ul>
<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav" id="headerNav">
        {% if current_user.is_authenticated %}
          <img src="{{ url_for('blog.get_avatar',filename=current_user.avatar_s) }}">
          <li class="nav-item" id="navMainPage"><a class="nav-link" href="{{ url_for('auth.index',id=current_user.id) }}">{{ current_user.username }}</a></li>
         <li class="nav-item" id="navMainPage"><a class="nav-link" href="{{ url_for('blog.logout') }}">登出</a></li>
        {% else %}
         <li class="nav-item" id="navTechPage"><a class="nav-link" href="{{ url_for('blog.login') }}">登录 </a></li>
         <li class="nav-item" id="navFoodPage"><a class="nav-link" href="{{ url_for('blog.register') }}">注册 </a></li>
        {% endif %}
    </ul>
</div>
</nav>
    <div class="container h-100">
        <div class="row h-100 page-header justify-content-center align-items-center">
            <h1>修改资料</h1>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            {{ render_form(form, extra_classes='col-6') }}
        </div>
    </div>

</body>
</html>